<a href="https://colab.research.google.com/github/ZuxuanChen/Personal-Projects/blob/master/lab0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Introduction to Basic Python and Pandas Concepts

In every python code, we have to import relavant libraries that we are working with. Otherwise, we cannot use any of the funnctions from these libraries!!

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

Here are some of the common data types that we commonly work with in this class:
python lists, python dictionaries:

In [ ]:
#some example lists:
name_list = ["Marie", "Albert", "Grace", "Donald", "Joe", "Joe"]
last_name_list = ["Curie","Einstein", "Hopper", "Trump","Biden","Jonas"]
place_of_birth_list = ["Poland","Germany","USA","USA", "USA", "USA"]
gender_list = ["F", "M", "F", "M", "M", "M"]
height_list = [155, 160, 165, 170, 175, 160]
age_list = [66,76,85,77,80, 34]

#example python dictionary. The keys in this dictionary are name, last_name, place_of_birth, and age. The values are the lists above.
#The values in a python dict can be any data type, not just lists!

data_dict = {"name": name_list, "last_name":last_name_list, "place_of_birth":place_of_birth_list, "age":age_list, "gender":gender_list, "height":height_list}

The cool thing about python dictionaries is that given a key, you can get the values back!

In [4]:
data_dict["name"]

NameError: ignored

Let's convert out dictionariy to tabular data! we will use pandas library in all of our homework assignments so make sure you are comfortable using it.

In [ ]:
df1 = pd.DataFrame(data_dict)

### 1- getting to know our dataset

In [5]:
#let's print all of the table
df1

NameError: ignored

In [6]:
#let's print thee first 3 rows
print(df1.head(3))

NameError: ignored

In [ ]:
#let's see all of the values present in the place_of_birth column and the number of occurances for each unique value:
df1['place_of_birth'].value_counts()

In [ ]:
#this method gives us some stats about the numerical columns
df1.describe()

In [ ]:
df1.columns

### 2- Subsetting pandas dataframe

In [ ]:
#subsetting by column name
print(df1['last_name'])

In [ ]:
#note that the data type of the subset that we get using the format above returns a series
type(df1['name'])

In [ ]:
#alternatively you can also do it using the method below:
print(df1.last_name)

In [ ]:
#multiple columns subsetting
print(df1[['name', 'last_name']])

In [ ]:
#subsetting by column index
df1.iloc[:, 0]

In [ ]:
#subsetting by row index
df1.iloc[0, :]

In [ ]:
# you can select multiple columns or rows using the indexing method. This returns a new data frame. no longer a series
df1.iloc[0:2, 2:5]

Condition/Boolean subsetting:

In [ ]:
df1[df1["place_of_birth"] == "USA"]

In [ ]:
df1[df1["age"]<=66]

## 3- Grouping data based on shared values

In [ ]:
#let's group all the people in our dataframe based on their country of birth.
#For example, we expect all people from USA to somehow end up together.
# in the example below, we say hey, give me a list of names for all people with the same place of birth.
df1.groupby("place_of_birth").agg({'name':list})

In the code above, we are grouping rows of data based on place of birth, and we are aggregating the names column as a list. For aggregation, there are other possibilities. For example, we can sum all the numeric values, find the min, max etc. There are different ways that we can aggregate these grouped rows.

In [ ]:
#here we say give me the smallest age from all the people from the same country:
df1.groupby("place_of_birth").agg({'age':min})

In [ ]:
# groupby more than one column.print the mean of other vals (that are numeric)
means = df1.groupby(['place_of_birth', 'gender']).mean(numeric_only=True)
means

In [ ]:
#you can use size function to get the size of each created group
df1.groupby(['place_of_birth', 'gender']).size()

more info: https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.aggregate.html

## 4- Merging two dataframes

In [ ]:
#let's create a second dataframe
df2 = pd.DataFrame({"name": ["Joe", "Albert"],"last_name":["Biden", "Einstein"],"job":["president", "physicist"]})

In [ ]:
df2

In [ ]:
df1

We want to merge df2 with our original dataframe df1 so that we have job information as well. We have only job informationn for Joe Biden and Albert Einstein, so for other people the value should be NaN.

We want a new merged dataframe for all of the peeople in our original dataframe df1. So, by performing a "left" join, we can keep all rows of the first dataframe and add information to it from the second dataframe df2.

In [ ]:

df3 = df1.merge(df2, how="left", on="name")
print(df3)

Note that we have specified the merging to occur only based on "name" and not both first names and last names. Thus, Joe Biden and Joe Jonas will be both presidents!!
Since Joe jonas is obviously not a president, we have to further specify requirements for joining the dataframes.

Additionally, since column "last_name" is present in both dataframes df1 and df2, two columns "last_name_x" and "last_name_y" have been created to distinguish these two columns with the same name from one another.

Let's fix the presidency problem of Joe Jonas:

In [ ]:
df3 = df1.merge(df2, how="left", on=["name", "last_name"])
print(df3)

In the cell above, because we are passing more than one column to the "on=" field, we have to create a list of columns. Otherwise we will run into an error.

Below, you can see what would happen if we do a right join on df1 with df2. In that case, our new merged dataframe will contain all rows of df2 plus any additional information that we gather from df1.

In [ ]:
merged_df1= df1.merge(df2, how="right", on=["name", "last_name"])

In [ ]:
merged_df1

In [ ]:
merged_df2= df2.merge(df1, how = "left", on = ["name","last_name"])

In [ ]:
merged_df2

In [ ]:
merged_df1.equals(merged_df2)

What can you do to make the equals() function return True for merged_df1 and merged_df2 (hint: re-arrange the columns!)

In [ ]:
#around 2 lines of code expected

## 5- Transposing a dataframe

In [ ]:
df2

In [ ]:
df5 = df2.T

In [ ]:
df5

## 6- Renaming columns

In [ ]:
df5.rename(columns={0: "person_1", 1: "person_2"}, inplace=True)

In [ ]:
df5

## 7- Performing operations on data using pandas columns!

### anonymous functions

In [ ]:
#lambda is used to define anonymous functions in python
# here the input to function is x, the function adds 100 to the input and returns it.
df1['age'].apply(lambda x: x+100)

In [ ]:
df1['fake_age'] = df1['age'].apply(lambda x: x+100)

In [ ]:
df1

In [ ]:
#we can define our own functions, and then use them on dataframe values.

def add_100(x):
  return x+100

df1['age'].apply(add_100)

In [ ]:
#in some cases, can use vectorized operations (faster than apply method)

df1['very_fake_age'] = df1['age']+df1['fake_age']

In [ ]:
df1

### Sorting values

In [ ]:
df1.sort_values(by='age', ascending = False)

## 8- Visualization Examples

In [ ]:
#let's create piechart of people based on their place of birth
plt.pie(df1['place_of_birth'].value_counts(), labels=df1['place_of_birth'].value_counts().index)
plt.title("Place of birth")
plt.show()

In [ ]:
#let's create a scatter plot based on age and height
plt.scatter(df1['age'], df1['height'])
plt.title("Age vs height")
plt.show()

In [ ]:
#let's create a histogram based on age
plt.hist(df1['age'])
plt.title("Age histogram")
plt.xlabel("Age")
plt.ylabel("Frequency")
plt.show()

In [ ]:
# plotting
counts = df1.groupby('gender').size()
plt.figure()
counts.plot.bar(title='Frequency of gender values (Histogram of gender values)')
plt.show()

### 9- Importing and Exporting Files

In [ ]:
#example of writing to a csv file
#check that the file has been written to files folder on the left hand-side bar
df1.to_csv("df1.csv")

In [ ]:
#example of readinng from a csv file
mydf = pd.read_csv("sample_data/mnist_test.csv")

In [ ]:
mydf.head()

In [ ]:
#example of writing to a text file
#confirm that the file has been created.
with open(r"python_love.txt", "w+") as f:
    f.write("I love our big data class! :D ")

In [ ]:
#example of reading from a text file
with open(r"python_love.txt", "r") as f:
    lines = f.read()

In [ ]:
lines

There are tons and tons of possibilities with python. It is impossible to showcase them all here, but these were some basics. You can always find some interesting possibilities when looking in documentations.

For more pandas dataframe functions, please refer to the documentations: https://pandas.pydata.org/docs/user_guide/index.html

## Practice Time

Anscombe's quartet

You have the Anscombe's quartet dataset under the sample data folder in this colab. There are different Series in this dataset.
Let's load the dataset into a dataframe

In [ ]:
# 1 line of code expected

Let's print basic descriptive statistics for each series. Output the mean and standard deviation for both X and Y in each series.

In [ ]:
# 3 lines of code expected (could vary depending on your style and approach)

What do you see? How do the results compare?

Now, let's plot a scatterplot for each series in our dataset.

In [ ]:
# about 6-10 lines of code expected (could vary depending on your style and approach)

Now you see why visualization matters! :)